<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p>
<!-- <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>-->
</div>
<div mat-dialog-actions>
  <!--<button mat-button (click)="onNoClick()">{{data.btnCancel}}</button>
  <button mat-button (click)="onNoClick()">{{data.btnConfirm}}</button>-->
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>{{data.btnConfirm}}</button>-->
<button mat-button [mat-dialog-close]="false">{{data.btnCancel}}</button>
<button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.btnConfirm}}</button>
</div>